<h2>JSTraining</h2>

<h3>Material</h3>
<mat-slider min='1' max='100' step='1' value='1'></mat-slider>

<h3>JQuery</h3>

<div class='messages'>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>
<button id='close'>メッセージを閉じる</button>
<button id='open'>メッセージを開く</button>

<p class='pred'>赤文字</p>
<p class='backyellow'>黄色背景</p>
<p class='addtext'></p>
<p class='updatetext'>上書き前</p>
<ul class='addclass'>
    <li>クラス追加リスト1</li>
    <li>クラス追加リスト2</li>
    <li>クラス追加リスト3</li>
</ul>
<ul class='removelist'>
    <p>リストを削除</p>
    <li>削除リスト1</li>
    <li>削除リスト2</li>
    <li>削除リスト3</li>
</ul>
</div>

<button id='clicked' style='margin-right: 1em;'>ボタンクリックメッセージ</button>

<p class='prependtext'>追加前⇒</p>
